<div ng-controller="HomeCtrl">
  <div style="background-color: black; color:white">
    <div ng-repeat="m in messages">
    	<span style="color:yellow">{{ m.name }}:</span><span style="margin-left: 10px">{{ m.message }}</span>
    </div>
  </div>
  <div>
  	<form ng-submit="sendMessage()">
	    <input autofocus placeholder="say something.." type="text" ng-model="nextMessage">
	    <input class="btn btn-primary" type=submit value="Send">  
    </form>  
  </div>
  <div ng-show="name.length>0">Logged in as {{ name }}. 
  		<!-- <a class="btn" ng-click="logout()">Logout</a> -->
  </div>

</div>
