<div ng-controller="HomeCtrl" class="container">
  <form ng-submit="sendMessage()">
	  <div class="row" style="margin-top: 30px">
	  	<div class="col-md-8" >
		    <div ng-repeat="m in messages" style="background-color: black; color:white">
		    	<span style="color:yellow">{{ m.name }} ({{ m.userId }}):</span><span style="margin-left: 10px">{{ m.message }}</span>
		    </div>
	  		<input placeholder="Say something.." type="text" ng-model="nextMessage" style="width:80%">
		    <input class="btn btn-primary" type=submit value="Send">
		</div>
		<div class="col-md-4" style="background-color: lightgray">
			<h4>Users:</h4>
		    <div ng-repeat="u in users">
		    	{{ u.name }}({{ u.userId }})
		    </div>
		</div>
	  </div>
	  <div class="row">
	  	<a class="btn btn-primary" value="clear all" ng-click="clearAll()">clear all</a>
	  </div>  
  </form>  
</div>
